.navbar-grey {
  background-color: grey;
}

.text {
  background-color: grey;
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 2%;
  
}
.col-md-3 {
  display: inline-block;
  margin-left: 4%;
}

  }
.right {
  float: right;
}
.dropdown {
  font-size: 1.5em;
  font-color: black;
  background-color: #BEBEBE;
    color: black; 
}
.dropdown:hover {
   color: #3399FF;
  background-color: #A9A9A9;
}
